node_modules/
frontend/node_modules/

.env
frontend/.env
frontend/backend/.env

__pycache__/
*.pyc
frontend/backend/__pycache__/

instance/
frontend/backend/instance/

frontend/backend/uploads/

*.db
frontend/backend/*.db

dist/
frontend/dist/

.vscode/